.about {
  font-family: Arial, sans-serif;
  text-align: center;
  padding: 20px;
  margin-top: 5%;
}
.about-us,
.mission,
.vision {
  display: flex;
  align-items: center;
  margin-bottom: 40px;
}
.horizonalline{
  background-color: #008080;
  font-weight: 900;
  height: 20vh;
  width: 50%;
}

.about-image,
.mission-image,
.vision-image {
  width: 50%;
  max-width: 500px;
  border-radius: 10px;
}

.about-content,
.mission-content,
.vision-content {
  width: 50%;
  padding: 20px;
}

.about-content h2,
.mission-content h2,
.vision-content h2,
.core-values h2 {
  font-size: 32px;
  margin-bottom: 20px;
}

.about-content p,
.mission-content p,
.vision-content p,
.core-values ul {
  font-size: 18px;
  color: #666;
  line-height: 1.6;
}

.core-values ul {
  list-style: none;
  padding: 0;
}

.core-values li {
  margin-bottom: 10px;
}

@media (max-width: 768px) {
  .about-us,
  .mission,
  .vision {
    flex-direction: column;
  }

  .about-image,
  .mission-image,
  .vision-image,
  .about-content,
  .mission-content,
  .vision-content {
    width: 100%;
  }
}
@media (max-width: 667px){
  .about-content h2{
    margin-top: -8px;
    margin-bottom: -6px;
  }
  .about{
    margin-top: 20%;
    padding: 10px;
  }
}
